{% from 'accounts_statistics.html' import initialAccountsStatistics %}
{% from 'logging_field.html' import initialLoggingField %}

{% extends "base.html" %} {% block content %}
{{ initialAccountsStatistics(accounts_status, text) }}

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="forgot_country" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_country}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="/accounts_registrar" method="POST" id="accounts_registrar">
            <div class="card shadow bg-body">
                <div class="card-body" style="height: 477px;">
                    <div class="container" style="padding-left: 0px;">
                        <h6> {{text.service_settings}} </h6>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm-7 col-form-label"> {{text.sms_service}} </label>
                            <div class="col-sm-4">
                                <select name="sms_service" id="sms_service" class="form-select" style="float: right;">
                            <option selected>{{text.select}}</option>
                            {% for service in aviable_services %}
                                <option value="{{service.service}}">{{service.name}}</option>
                            {% endfor %}
                        </select>
                            </div>
                        </div>
    
                        <div id="tokens" data-tokens="{{services_data}}"></div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm col-form-label">{{text.balance}} </label>
                            <div class="col-sm">
                                <div class="input-group" style="margin: auto; width: 64%;">
                                    <input style="float: right;" type="text" value="0" id="balance" class="form-control" aria-describedby="button-addon2">
                                    <span id="update_balance" class="input-group-text" id="addon-wrapping" style="padding: 5px"><img style="width: 23px" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/synchronize.png"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm col-form-label">{{text.aviable_phone_numbers}} </label>
                            <div class="col-sm">
                                <div class="input-group" style="margin: auto; width: 64%;">
                                    <input style="float: right;" type="text" value="0" id="phone_numbers" class="form-control" aria-describedby="button-addon2">
                                    <span id="update_phones" class="input-group-text" id="addon-wrapping" style="padding: 5px"><img style="width: 23px" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/synchronize.png"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm col-form-label">{{text.price}} </label>
                            <div class="col-sm">
                                <div class="input-group" style="margin: auto; width: 64%;">
                                    <input style="float: right;" type="text" value="0" id="price" class="form-control" aria-describedby="addon-wrapping">
                                    <span id="update_price" class="input-group-text" id="addon-wrapping" style="padding: 5px"><img style="width: 23px" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/synchronize.png"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm-7 col-form-label">{{text.accounts_number}}</label>
                            <div class="col-sm-4">
                                <div class="quantity" style="float: right; margin-right: 1px;">
                                    <input type="number" class="form-control" name="accounts_num" id="accounts_num" value="1" placeholder="acc" min="1"  step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm-7 col-form-label">{{text.threads_number}}</label>
                            <div class="col-sm-4">
                                <div class="quantity" style="float: right; margin-right: 1px;">
                                    <input type="number" class="form-control" name="threads_num" id="threads_num" value="1" placeholder="acc" min="1"  step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="mb-3 row" style="width: 120%;">
                            <label class="col-sm-7 col-form-label">{{text.choose_country}}</label>
                            <div class="col-sm-4">
                                <button style="float: right;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            {{text.choose}}
                        </button>
                                <input hidden name="country" id="country" value="1">
                            </div>
                        </div>
    
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body" style="padding-top: 0px">
                                        <nav class="navbar navbar-expand-lg" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; width: 100%;">
                                            <div class="collapse navbar-collapse" id="navbarText">
                                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                    <li class="nav-item">
                                                        <h6> {{text.countries_settings}} </h6>
                                                    </li>
                                                    <li class="nav-item">&nbsp&nbsp</li>
                                                </ul>
                                                <span class="navbar-text" style="margin-right: -10px;">
                                <button type="button" id="close_modal" class="btn btn-outline-danger btn-sm" style="padding: 3px; font-size: 12px;" data-bs-dismiss="modal" aria-label="Close">&nbsp&nbsp {{text.close}} &nbsp&nbsp </button>  &nbsp
                              </span>
                                            </div>
                                        </nav>
                                        <div style="position:relative;">
                                            <div style="overflow:scroll;height:550px;overflow-x: hidden;" class="scroll_element">
                                                <table class="table table-bordered table-sm">
                                                    <tbody>
                                                        <thead>
                                                            <tr>
                                                                <td>&nbsp&nbsp&nbsp&nbsp#&nbsp</td>
                                                                <td style="text-align: center;">{{text.country}}</td>
                                                            </tr>
                                                        </thead>
                                                        {%for country in countries %}
                                                        <tr>
                                                            <td>{{country.index}}</td>
                                                            <td>{{country.country}}</td>
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 22px;">
                            <div class="col-7">
                                {{text.skip_old_accounts}}
                            </div>
                            <div class="col" style="display: flex; justify-content: right; margin-left: 120px;">
                                <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' id='skip_old_accounts' name='skip_old_accounts' value='0'>
                                <label for='skip_old_accounts'>&nbsp;</label> <br>
                            </div>
                        </div> <br>

                    </div>
                </div>
            </div>
    </div>
    
    <div class="col">
        <div class="card shadow bg-body">
            <div class="card-body">
                <h6>{{text.registrar_settings}}</h6>
    
                <div class="mb-3 row">
                    <label class="col-sm col-form-label">{{text.set_names}}</label>
                    <div class="col-sm">
                        <select name="name_gender" id="name_gender" class="form-select">
                            <option value="male">{{text.male}}</option>
                            <option value="female">{{text.female}}</option>
                            <option value="random">{{text.random}}</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <select name="name_language" id="name_language" data-role="tagsinput" class="form-select">
                            {% for country in countries_names %}
                                <option value="{{country.short}}"> {{country.country}} </option>
                            {% endfor %}
                            <option value="random">{{text.random}}</option>
                        </select>
                    </div>
                </div>
    
                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-9 col-form-label">{{text.sleep_seconds}}</label>
                    <div class="col-sm-2">
                        <div class="quantity" style="float: right; margin-right: 1px;">
                            <input type="number" class="form-control" name="sleep_before_thread" id="sleep_before_thread" value="1" placeholder="acc" min="1"  step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-7 col-form-label">{{text.waiting_timeout}}</label>
                    <div class="col-sm-4">
                        <div class="quantity" style="float: right; margin-right: 1px;">
                            <input type="number" class="form-control" name="waiting_timeout" id="waiting_timeout" value="1" placeholder="acc" min="1"  step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row g-3 align-items-center" style="display: flex; width: 112%;">
                    <div class="col-6">
                        <label class="col-form-label"> {{text.delay_from}} </label>
                    </div>
                    <div class="col-2">
                        <div class="quantity">
                            <input type="number" class="form-control" name="delay_between" id="delay_between" value="1" placeholder="acc" min="1"  step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1" style="text-align: center;">
                        <label class="col-form-label">{{text.delay_to}}</label>
                    </div>
                    <div class="col-2">
                        <div class="quantity" style="float: right; margin-right: -1px;">
                            <input type="number" class="form-control" name="delay_to" id="delay_to" value="1" placeholder="acc" min="1"  step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div> <br>
    
                <div class="row" style="margin-bottom: -15px;">
                    <div class="col-7">
                        {{text.set_password}}
                    </div>
                    <div class="col" style="display: flex; justify-content: center; margin-left: 120px;">
                        <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' id='set2fa' name='set2fa' value='0'>
                        <label for='set2fa'>&nbsp;</label> <br>
                    </div>
                </div> <br>
    
                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-7 col-form-label"> {{text.settings_ramdomization}} </label>
                    <div class="col-sm-4">
                        <button style="float: right;" id="select_api" type="button" data-bs-toggle="modal" data-bs-target="#accounts_settings" class="btn btn-outline-primary">
                            {{text.settings}}
                        </button>
    
                        <div class="modal fade" id="accounts_settings" tabindex="-1" aria-labelledby="accounts_settingsLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="max-width: 930px;">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5> {{text.api_list}} </h5>
                                                <textarea name="clients" id="clients" style="height: 375px" class="form-control"></textarea>
    
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-7" style="padding-left: 30px;">{{text.randomize_it}}</div>
                                                    <div class="col-5" style="text-align: end;">
                                                        <input type='checkbox' class='ios8-switch' name="randomize_api" id='randomize_api' value="0">
                                                        <label for='randomize_api'>&nbsp</label>
                                                    </div>
                                                </div>
    
                                            </div>
                                            <div class="col">
                                                <h5> {{text.devices_list}} </h5>
                                                <textarea name="devices" id="devices" style="height: 375px" class="form-control"></textarea>
    
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-7" style="padding-left: 30px;">{{text.randomize_it}}</div>
                                                    <div class="col-5" style="text-align: end;">
                                                        <input type='checkbox' class='ios8-switch' name="randomize_devices" id='randomize_devices' value="0">
                                                        <label for='randomize_devices'>&nbsp</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5>{{text.app_version}}</h5>
                                                <textarea name="versions" id="versions" style="height: 150px" class="form-control"></textarea>
    
                                                <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                                                    <div class="col-7" style="padding-left: 30px;">{{text.randomize_it}}</div>
                                                    <div class="col-5" style="text-align: end;">
                                                        <input type='checkbox' class='ios8-switch' name="randomize_versions" id='randomize_versions' value="0">
                                                        <label for='randomize_versions'>&nbsp</label>
                                                    </div>
                                                </div>
    
                                                <h6 style="margin-bottom: -8px;">{{text.lang_pack}}</h6>
                                                <input style="margin-top: 15px;margin-bottom: 18px;" name="lang_pack" id="lang_pack" type="text" class="form-control">
    
                                                <h6 style="margin-bottom: -8px;">{{text.system_lang_pack}}</h6>
                                                <input style="margin-top: 15px;" name="system_lang_pack" id="system_lang_pack" type="text" class="form-control">
    
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="submit_update_bio" style="margin: -1px" class="btn start-button btn-lg" data-bs-dismiss="modal" aria-label="Close">{{text.save}}</button>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>

                
                <div class="row" style="margin-top: 12px;">
                    <label class="col-sm-9 col-form-label">{{text.save_in_folder}}: </label>

                    <div class="col-sm-3" style="padding-left: 58px;">
                        <button id="download_result" type="button" style="height: 38px;" class="btn btn-outline-primary">
                            <div class="stage" style="width: 53px;">
                                <div class="dot-flashing"></div>
                            </div>
                            <label id="select_text" style="display: none;">&nbsp;{{text.select}}&nbsp;</label>
                        </button>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn start-button btn-lg">{{text.start}}</button>
        </div>
    </div>
</div>

<script>
    const haveFreeProxies = "{{have_free_proxies}}" == "True"
</script>

</form>
{{ initialLoggingField(text) }}
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/logging.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_registrar.js') }}"></script>
{% endblock %}