{% from 'accounts_statistics.html' import initialAccountsStatistics %}

{% extends "base.html" %} {% block content %}

{{ initialAccountsStatistics(accounts_status, text) }}
<!-- Accounts Statistics Modal -->
<div class="modal fade" id="accounts_stat" data-backdrop="static" tabindex="-1" aria-labelledby="accounts_statLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
        <div class="modal-content">
            <div id="checkerHeader" class="modal-header">
                {{text.account_check_result}}
                <button type="button" id="close_account_stat_modal" style="display: none" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">{{text.checked}}: </div>
                    <div class="col" style="text-align: right">
                        <label id="check_accounts_len">0</label>/<label id="accounts_required">0</label>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-8">{{text.banned}}: </div>
                    <div class="col" id="banned_accounts_len" style="text-align: right">0</div>
                </div> <br>
                <div class="row">
                    <div class="col-8">{{text.ready_work}}: </div>
                    <div class="col" id="ready_to_work_accounts_len" style="text-align: right">0</div>
                </div> <br>
                <div class="row">
                    <div class="col-8">{{text.with_spam_block}}: </div>
                    <div class="col" id="spam_blocked_accounts_len" style="text-align: right">0</div>
                </div> <br>
                <div class="row">
                    <div class="col-8">{{text.no_connect}}: </div>
                    <div class="col" id="not_connected_accounts_len" style="text-align: right">0</div>
                </div>
            </div>
            <div class="modal-footer" style="padding-left: 0px; padding-right: 0px;">
                <div class="row" style="width: 100%;">
                    <div class="col" style="color: red">{{text.banned_accounts}}</div>
                    <div class="col">
                        <select id="banned_accounts_action" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="none">{{text.select}}</option>
              <option value="move_to_archive"> {{text.move_archive}} </option>
              <option value="delete"> {{text.delete}} </option>
            </select>
                    </div>
                </div>
                <div id="spam_blocked_accounts_block" class="row" style="width: 100%;">
                    <div class="col" style="color: #ffc107">{{text.spamblock_accounts}}</div>
                    <div class="col">
                        <select id="spam_blocked_accounts_action" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="none">{{text.select}}</option>
              <option value="move_to_archive"> {{text.move_archive}} </option>
              <option value="delete"> {{text.delete}} </option>
            </select>
                    </div>
                </div>
            </div>
            <button type="button" id="submit_accounts_action" style="margin: -1px" class="btn start-button btn-lg">{{text.okey}}</button>
        </div>
    </div>
</div>

<!-- Set photo Modal -->
<div class="modal fade" id="set_avatar_modal" tabindex="-1" aria-labelledby="set_avatar_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                {{text.set_photo}}
                <label style="color:#2d76cc" id="accounts_choosen">0 {{text.accounts_chosen}}</label>
                <button type="button" id="close_set_avatar_modal" style="display: none" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="set_photo_content">
                    {{text.required_photos}} (<label id="required_photo_len">0</label>/<label id="accounts_required">0</label>)
                    <br> <br>
                    <input type="file" hidden id="selected_photos" multiple>
                    <button type="button" id="add_photos" class="btn btn-outline-primary">
            {{text.add_photos}}
          </button> &nbsp;&nbsp;
                    <button type="button" style="margin-left: -10px;" id="reset_photos" class="btn btn-outline-danger">
              {{text.reset}}
          </button>
                </div>

            </div>
            <button type="button" id="submit_set_photo" style="margin: -1px" class="btn start-button btn-lg">{{text.okey}}</button>
        </div>
    </div>
</div>

<!-- Update username Modal -->
<div class="modal fade" id="update_usernames_modal" tabindex="-1" aria-labelledby="update_usernames_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                {{text.set_usernames}}
                <label style="color:#2d76cc" id="accounts_choosen">0 {{text.accounts_chosen}}</label>
                <button type="button" id="close_update_usernames_modal" style="display: none" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{text.set_random_usernames}}
                <input type='checkbox' class='ios8-switch' id='set_random_usernames'>
                <label style="line-height: normal; padding: 18px;float: right;" for='set_random_usernames'>&nbsp;</label>
                <br> <br>

                <div id="set_usernames_content">
                    {{text.required_usernames}} (<label id="required_usernames_len">0</label>/<label id="accounts_required">0</label>)
                    <br> <br>

                    <div class="custom-file" style="margin-bottom: 15px;">
                        <input type="file" class="custom-file-input" id="file_list_usernames">
                        <label class="custom-file-label" for="file_list_usernames"> {{text.load_file_usernames}} </label>
                    </div>

                    <div class="form-floating">
                        <textarea id="usernames_list" class="form-control" style="height: 300px"></textarea>
                    </div>

                </div>

            </div>
            <button type="button" id="submit_update_usernames" style="margin: -1px" class="btn start-button btn-lg"> {{text.okey}} </button>
        </div>
    </div>
</div>

<!-- Update first/last name Modal -->
<div class="modal fade" id="update_names_modal" tabindex="-1" aria-labelledby="update_names_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                {{text.set_names}}
                <label style="color:#2d76cc" id="accounts_choosen">0 {{text.accounts_chosen}}</label>
                <button type="button" id="close_update_names_modal" style="display: none" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{text.set_random_names}}
                <input type='checkbox' class='ios8-switch' id='set_random_names'>
                <label style="line-height: normal;padding: 18px;float: right;" for='set_random_names'>&nbsp;</label>
                <br> <br>

                <div id="set_names_content">
                    {{text.required_names}} (<label id="required_names_len">0</label>/<label id="accounts_required">0</label>)
                    <br> <br>

                    <div class="custom-file" style="margin-bottom: 15px;">
                        <input type="file" class="custom-file-input" id="file_list_names">
                        <label class="custom-file-label" for="file_list_names"> {{text.load_file_names}} </label>
                    </div>

                    <div class="form-floating">
                        <textarea id="names_list" class="form-control" style="height: 300px"></textarea>
                    </div>

                </div>

            </div>
            <button type="button" id="submit_update_names" style="margin: -1px" class="btn start-button btn-lg"> {{text.okey}} </button>
        </div>
    </div>
</div>

<!-- Update bio Modal -->
<div class="modal fade" id="update_bio_modal" tabindex="-1" aria-labelledby="update_bio_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 780px;">
        <div class="modal-content">
            <div class="modal-header">
                {{text.set_bio}}
                <label style="color:#2d76cc" id="accounts_choosen">0 {{text.accounts_chosen}}</label>
                <button type="button" id="close_update_bio_modal" style="display: none" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="set_bio_content">
                    {{text.required_bio}} (<label id="required_bio_len">0</label>/<label id="accounts_required">0</label>)
                    <br> <br>

                    <div class="form-floating">
                        <textarea id="bio_list" class="form-control" style="height: 400px"></textarea>
                    </div>

                </div>

            </div>
            <button type="button" id="submit_update_bio" style="margin: -1px" class="btn start-button btn-lg"> {{text.okey}} </button>
        </div>
    </div>
</div>

<div class="card shadow bg-body" style="margin-bottom: 30px;padding-top: 0px; padding-bottom: 0px; height: 600px; padding-left: 0px; padding-right: 0px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">&nbsp&nbsp&nbsp&nbsp</li>
                <li class="nav-item dropdown">
                    <a id="button_with_arrow" style="border:none;padding: 3px; color: white;background: linear-gradient(-90deg,  #2d76cc 100%,  #3066b5  0%);" class="nav-link dropdown-toggle btn btn-sm btn-primary" type="submit" name="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                &nbsp<img style="position: absolute; top: 51%; transform: translate(0, -50%);" width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/48/ffffff/hashtag-activity-grid.png"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{text.select_action}}
              </a>
                    <div class="dropdown-menu" style="padding: 0px; margin: 0px" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item" id="accounts_choosen" style="color: white;background-color:  #3066b5 ;" type="submit" name="chosen"> 0 {{text.accounts_chosen}}</a>
                <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="check_accounts"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/check-all.png"/> {{text.check_accounts}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="spam_check_accounts"> <img width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/48/ffffff/urgent-message.png"/> {{text.spam_check}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" id="set_up_photo_proxy_button"> <img width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/100/ffffff/slr-camera.png"/> {{text.set_photo}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" id="set_usernames_proxy_button"> <img width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/100/ffffff/popular-man.png"/> {{text.set_usernames}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" id="set_names_proxy_button"> <img width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/48/ffffff/writer-male.png"/> {{text.set_names}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" type="button" style="color: white;background-color:  #2d76cc;" id="set_bio_proxy_button"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/magical-scroll.png"/> {{text.set_bio}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" type="button" style="color: white;background-color:  #2d76cc;" id="set_account_2_fa"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/ffffff/key.png"/> {{text.set_password}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="clear_proxy"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/broom.png"/> {{text.clear_proxy}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="update_lifetime"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FFFFFF/lifecycle.png"/> {{text.update_lifetime}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">

                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="move_account_to_archive"> <img width="20" height="20" src="https://img.icons8.com/fluent-systems-filled/48/ffffff/business-time.png "/> {{text.move_archive}} </button>
                        <hr class="dropdown-divider" style="margin-top: 0px; margin-bottom: 0px;margin-left:5% !important; margin-right:5% !important; width: 90%; position: absolute; background-color: white;">
                        <button class="dropdown-item" style="color: white;background-color:  #2d76cc;" type="submit" id="delete_account"> <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/delete-forever.png"/> {{text.delete}} </button>
                        <input type="hidden" name="accounts" id="selected_accounts" value="" />
                    </div>
                </li>
                <li class="nav-item">
                    &nbsp&nbsp
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-sm" style="border: none !important; height: 27px; padding: 2px; background-color:  #2d76cc" id="select_all">&nbsp {{text.select_all}} &nbsp</button> &nbsp &nbsp
                </li>
            </ul>
            <span class="navbar-text">
          <form id="accounts_form" action="/accounts" method="POST" enctype="multipart/form-data">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info btn-sm" style="border: none !important; padding: 2px; color: white; background: linear-gradient(-90deg, #0FA1BE 100%, #197289 0%);">
              &nbsp<img style="position: absolute; top: 52%; transform: translate(0, -50%);" width="19" height="19" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/archive-folder.png"/>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{text.archive}} &nbsp
            </button>
            <span class="btn btn-primary btn-file" style="border: none; margin-right: 15px; padding: 2px; font-size: 14px;  background: linear-gradient(-90deg,  #2d76cc 100%,  #3066b5  0%);">
              &nbsp<img style="position: absolute; top: 50%; transform: translate(0, -50%);" width="19" height="19" src="https://img.icons8.com/fluent-systems-filled/48/ffffff/database-restore.png"/>&nbsp &nbsp &nbsp &nbsp  {{text.upload_accounts}} &nbsp <input id="accounts" name="file" type="file" multiple>
            </span>
            </form>
            </span>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="padding: 0px; margin-bottom: 6px;">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; width: 100%;">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">&nbsp&nbsp</li>
                                <li class="nav-item">&nbsp&nbsp</li>
                                <li class="nav-item">
                                    <select id="archive_filter" class="form-select form-select-sm" style="height: 28.5px;">
                                        <option value="profile_photo"> {{text.profile_photo_filter}} </option>
                                        <option value="usernames">{{text.usernames}}</option>
                                        <option value="untoched_more_then"> {{text.untouched_filter}} </option>
                                        <option value="proxy"> {{text.proxy_filter}} </option>
                                        <option value="status">{{text.status}}</option>
                                        <option value="bio"> {{text.bio_filter}} </option>
                                    </select>
                                </li>
                                <li class="nav-item">&nbsp&nbsp</li>
                                <li class="nav-item">
                                    <select id="archive_profile_photo" class="form-select form-select-sm" style="height: 28.5px;">
                                        <option value="1">{{text.yes}}</option>
                                        <option value="0">{{text.no}}</option>
                                    </select>
                                    <select id="archive_usernames" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                        <option value="1">{{text.yes}}</option>
                                        <option value="0">{{text.no}}</option>
                                    </select>
                                    <select id="archive_untoched_more_then" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                        <option value="3">3 {{text.days}}</option>
                                        <option value="7">7 {{text.days}}</option>
                                        <option value="14">14 {{text.days}}</option>
                                    </select>
                                    <select id="archive_proxy" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                        <option value="1">{{text.yes}}</option>
                                        <option value="0">{{text.no}}</option>
                                    </select>
                                    <select id="archive_status" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                        <option value="no_limits">{{text.no_limits}}</option>
                                        <option value="banned">{{text.banned}}</option>
                                        <option value="spam_block">{{text.with_spam_block}}</option>
                                        <option value="not_connected">{{text.no_connect}}</option>
                                    </select>
                                    <select id="archive_bio" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                        <option value="1">{{text.yes}}</option>
                                        <option value="0">{{text.no}}</option>
                                    </select>
                                </li>
                                <li class="nav-item">&nbsp&nbsp</li>
                                <li class="nav-item"><button class="btn btn-success btn-sm" type="button" id="archive_apply_filter" style="padding: 2px; background-color: #13CE8B">&nbsp {{text.apply}} &nbsp</button></li>
                                <li class="nav-item">&nbsp&nbsp</li>
                                <li class="nav-item"><button class="btn btn-danger btn-sm" type="button" id="archive_reset_filter" style="padding: 2px">&nbsp {{text.reset_filter}} &nbsp</button></li>
                                <li class="nav-item">&nbsp&nbsp</li>
                            </ul>
                            <span class="navbar-text">
                                <form action="/archive_accounts_action" method="post" id="archive_actions">
                                    <input id="archive_accounts" name="archive_accounts"  type="hidden" value="">
                                    <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info btn-sm" style="padding: 2px; color: white; background: linear-gradient(-90deg, #0FA1BE 100%, #197289 0%);">
                                    &nbsp<img style="position: absolute; top: 50%; transform: translate(0, -50%);" width="19" height="19" src="https://img.icons8.com/fluency-systems-filled/100/ffffff/archive-folder.png"/>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{text.unarchive}} &nbsp
                                    </button>  &nbsp
                                    <button type="button" class="btn btn-primary btn-sm" style="border: none !important;height: 28px; padding: 2px; background-color:  #2d76cc" id="select_all_archive">&nbsp {{text.select_all}} &nbsp</button> &nbsp
                                    <button type="button" class="btn btn-outline-danger btn-sm" style="padding: 2px" data-bs-dismiss="modal" aria-label="Close">&nbsp&nbsp {{text.close}} &nbsp&nbsp </button>  &nbsp
                                </form>
                            </span>
                        </div>
                    </nav>

                </div>
                <div class="modal-body" style="padding-top: 0px">
                    <div style="position:relative;">
                        <div style="overflow:scroll;height:550px;" class="scroll_element">
                            <table id="archive_table" class="table table-bordered table-sm">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <td>&nbsp&nbsp&nbsp&nbsp#&nbsp</td>
                                            <td style="text-align: center;">{{text.photo}}</td>
                                            <td style="text-align: center;">{{text.username}}</td>
                                            <td style="text-align: center;">{{text.name}}</td>
                                            <td style="text-align: center;">{{text.phone}}</td>
                                            <td style="text-align: center;">{{text.untouched}}</td>
                                            <td style="text-align: center;">{{text.proxy}}</td>
                                            <td style="text-align: center;">{{text.status}}</td>
                                        </tr>
                                    </thead>
                                    {%for account in archive_accounts %}
                                    <tr>
                                        <td>{{account.index}}</td>
                                        <td> {% if account.photo %} <img style="border-radius: 50%;" height="23" width="23" src="{{account.photo}}" /> {% endif %}</td>
                                        <td>{{account.username}}</td>
                                        <td>{{account.name}}</td>
                                        <td>{{account.phone}}</td>
                                        <td>{% if account.untouched %} {{account.untouched}} days {% endif %}</td>
                                        <td>{{account.proxy}}</td>
                                        <td>
                                            {% if account.is_busy %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/F25081/hotel-door-hanger.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc busy"> {% endif %}
                                            {% if account.status == "Dead" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/bad-banana.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc dead">                                            {% endif %} {% if account.status == "Spam block" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/spam-can.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc spam blocked">                                            {% endif %} {% if account.status == "Not connected" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/cellular-network.png" data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="Not connected"> {% endif %} {% if account.password %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/key.png" data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="Have 2-fa"> {% endif %} {% if account.bio %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/magical-scroll.png" data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="Have bio"> {% endif %}
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body" style="padding-top: 0px; padding-bottom: 0px; margin-top: 0px;">
        <nav class="navbar navbar-expand-lg navbar-light" style="padding-bottom: 1px; padding-top: 0px;">
            <div class="collapse navbar-collapse" id="navbarText" style="padding-bottom: 1px; padding-top: 0px; height: 43px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-bottom: 1px;margin-bottom: 1px">
                    <li class="nav-item"><label class="col-form-label" style="font-size: 14px; padding-top:0px"> {{text.show_records}} &nbsp </label></li>
                    <li class="nav-item"><input id="update_table" onkeyup="update_table()" class="form-control" style="width: 55px !important; height: 28px !important;"></li>
                    <li class="nav-item">&nbsp&nbsp</li>
                    <li class="nav-item">
                        <select id="filter" class="form-select form-select-sm" style="height: 28.5px;">
                <option value="profile_photo"> {{text.profile_photo_filter}} </option>
                <option value="usernames"> {{text.usernames_filter}} </option>
                <option value="untoched_more_then"> {{text.untouched_filter}} </option>
                <option value="proxy">{{text.proxy_filter}}</option>
                <option value="status"> {{text.status}} </option>
                <option value="bio"> {{text.bio_filter}} </option>
              </select>
                    </li>
                    <li class="nav-item">&nbsp&nbsp</li>
                    <li class="nav-item">
                        <select id="profile_photo" class="form-select form-select-sm" style="height: 28.5px;">
                <option value="1">{{text.yes}}</option>
                <option value="0">{{text.no}}</option>
              </select>
                        <select id="usernames" class="form-select form-select-sm" style="height: 28.5px; display: none">
                <option value="1">{{text.yes}}</option>
                <option value="0">{{text.no}}</option>
              </select>
                        <select id="untoched_more_then" class="form-select form-select-sm" style="height: 28.5px; display: none">
                <option value="3">3 {{text.days}}</option>
                <option value="7">7 {{text.days}}</option>
                <option value="14">14 {{text.days}}</option>
              </select>
                        <select id="proxy" class="form-select form-select-sm" style="height: 28.5px; display: none">
                <option value="1">{{text.yes}}</option>
                <option value="0">{{text.no}}</option>
              </select>
                        <select id="status" class="form-select form-select-sm" style="height: 28.5px; display: none">
                <option value="no_limits">{{text.no_limits}}</option>
                <option value="banned">{{text.banned}}</option>
                <option value="spam_block">{{text.with_spam_block}}</option>
                <option value="not_connected">{{text.no_connect}}</option>
              </select>
                        <select id="bio" class="form-select form-select-sm" style="height: 28.5px; display: none">
                <option value="1">{{text.yes}}</option>
                <option value="0">{{text.no}}</option>
              </select>
                    </li>
                    <li class="nav-item">&nbsp&nbsp</li>
                    <li class="nav-item"><button class="btn btn-success btn-sm" id="apply_filter" style="padding: 2px; background-color: #13CE8B;border: none;">&nbsp {{text.apply}} &nbsp</button></li>
                    <li class="nav-item">&nbsp&nbsp</li>
                    <li class="nav-item"><button class="btn btn-danger btn-sm" id="reset_filter" style="padding: 2px;border: none;">&nbsp {{text.reset_filter}} &nbsp</button></li>
                </ul>

                <button type="button" id="accounts_stat_button" class="btn btn-primary btn-sm pulse-default" style="height: 28px; background-color:  #2d76cc; display: none; padding:2px;border: none !important;" data-bs-toggle="modal" data-bs-target="#accounts_stat">&nbsp {{text.show_statistics}} &nbsp</button> &nbsp &nbsp
                <button type="button" id="set_avatar_button" style="display: none" data-bs-toggle="modal" data-bs-target="#set_avatar_modal"></button>
                <button type="button" id="update_usernames_button" style="display: none" data-bs-toggle="modal" data-bs-target="#update_usernames_modal"></button>
                <button type="button" id="update_names_button" style="display: none" data-bs-toggle="modal" data-bs-target="#update_names_modal"></button>
                <button type="button" id="update_bio_button" style="display: none" data-bs-toggle="modal" data-bs-target="#update_bio_modal"></button>

                <span class="navbar-text">
            <div class="input-group input-group-sm mb-3" style="margin-top: 16px">
              <span style="height: 28px"class="input-group-text"><img width="19" height="19" src="https://img.icons8.com/fluency-systems-filled/48/000000/search.png" /></span>
                <input type="text" id="search_table" onkeyup="search_table()" class="form-control" style="width: 150px; height: 28px !important;">
            </div>
            </span>
    </div>
    </nav>
    <div style="position:relative;">
        <div class="scroll_element" style="overflow:scroll;height:500px; overflow-x: hidden;">
            <table id="main_table" class="table table-bordered table-sm">
                <tbody>
                    <thead>
                        <tr>
                            <td>&nbsp&nbsp&nbsp&nbsp#&nbsp</td>
                            <td style="text-align: center;">{{text.photo}}</td>
                            <td style="text-align: center;">{{text.username}}</td>
                            <td style="text-align: center;">{{text.name}}</td>
                            <td style="text-align: center;">{{text.phone}}</td>
                            <td style="text-align: center;">{{text.untouched}}</td>
                            <td style="text-align: center;">{{text.proxy}}</td>
                            <td style="text-align: center;">{{text.status}}</td>
                        </tr>
                    </thead>
                    {%for account in accounts %}
                    <tr>
                        <td>{% if account.phone %} {{account.index}} {% else %} &nbsp {% endif %}</td>
                        <td>{% if account.photo %} <img style="border-radius: 50%;" height="23" width="23" src="{{account.photo}}" /> {% endif %}</td>
                        <td>{{account.username}}</td>
                        <td>{{account.name}}</td>
                        <td>{{account.phone}}</td>
                        <td>{% if account.untouched %} {{account.untouched}} days {% endif %}</td>
                        <td>{{account.proxy}}</td>
                        <td>
                            {% if account.is_busy %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/F25081/hotel-door-hanger.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc busy"> {% endif %}
                            {% if account.status == "Dead" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/bad-banana.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc dead"> {% endif %} 
                            {% if account.status == "Not connected" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/cellular-network.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Not connected">{%endif %}
                            {% if account.status == "Spam block" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/spam-can.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc spam blocked">{% endif %}
                            {% if account.password %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/key.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Have 2-fa"> {% endif %}
                            {% if account.bio %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/magical-scroll.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Have bio"> {% endif %}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    </div>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="no_selected_accounts_error_message" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_accounts}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="accounts_busy_message" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.accounts_busy}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="checker_start" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.checker_started}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="checker_ended" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.checker_ended}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="accounts_archived" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.accounts_archived}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="accounts_deleted" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.accounts_deleted}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="photo_were_setup" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.photo_were_setup}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="names_were_setup" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.names_were_setup}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="usernames_were_setup" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.usernames_were_setup}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="usernames_were_setup_warning" style="background-color:#FFF3CD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.usernames_were_setup_warning}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="bios_were_setup" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.bios_were_setup}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="account_proxy_cleared" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.account_proxy_cleared}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="account_lifetime_updated" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.account_lifetime_updated}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="passoword_were_setup" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.passoword_were_setup}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    const accounts = JSON.parse(`{{accounts|tojson}}`)
    const workWithoutProxy = `{{working_without_proxy}}` == "True"
    const removeSecectionText = "{{text.remove_selection}}"
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_filter.js') }}"></script>
{% endblock %}