{% extends "base.html" %} {% block content %}
<div class="col">
    <div class="row">
        <div class="col circle-wrapper blue-line">
            <a href="/ai_worker" class="btn circle placeholder shadow" style="background-color: #79BCE4;" aria-hidden="true"></a>
            <div class="circle-name" style="color: #79BCE4;">Promotional subject</div>
        </div>
        <div class="col circle-wrapper purple-line">
            <a href="/ai_worker_commercial_offer" class="btn circle placeholder shadow" style="background-color: #9394EB;" aria-hidden="true"></a>
            <div class="circle-name" style="color: #9394EB">Commercieal Offer</div>
        </div>
        <div class="col circle-wrapper yellow-line">
            <a href="/ai_worker_settings" class="btn circle placeholder shadow" style="background-color: #FFCF8A;" aria-hidden="true"></a>
            <div class="circle-name" style="color: #FFCF8A;">Settings</div>
        </div>
        <div class="col circle-wrapper green-line">
            <a href="/ai_worker_logging" class="btn circle placeholder shadow" style="background-color: #5DE7B2;" aria-hidden="true"></a>
            <div class="circle-name" style="color: #5DE7B2;">Run Neuroworker</div>
        </div>
    </div> <br> <br>
    <div class="card shadow bg-body" style="border-radius: 5px 5px 0px 0px;">
        <div class="card-body" style="padding: 0px">
            <nav class="navbar navbar-expand-lg navbar-primary bg-primary" style="padding: 0px; border-radius: 5px 5px 0px 0px;">
                <div class="collapse navbar-collapse" id="navbarText">
                    <p style="margin-left: 15px; color: white; font-size:20px; margin-bottom: 0px;">{{ ai_worker_title }}</p>
                </div>
                <span class="navbar-text" style="padding: 5px">
                    <div class="collapse navbar-collapse" id="navbarText">
                        <p style="margin-left: 15px; color: white; font-size:20px; margin-bottom: 0px;">Step {{ step }}&nbsp &nbsp</p>
                    </div>
                </span>
            </nav> <br>
            <div class="container">
                {% block worker_settings %} {% endblock %}
            </div>
            <hr style="margin-bottom: 5px;">
            <div class="container" style="padding-bottom: 6px;">
                <a href="{{urls.prev}}" style="text-decoration: none; color: black; font-size:20px;">Prev</a>
                <button id="submit_forms" type="submit" style="float: right; background-color: transparent; color: #3f76c6 ; border: none; font-size:20px;"> Next > </button>
                <button id="clear_all" type="submit" style="float: right; background-color: transparent; border: none; display: none; font-size:20px; color: #FFCF8A;"> Clear all </button>
            </div>
        </div>
    </div>
</div>
<script>
    
    document.getElementById("submit_forms").onclick = () => {
        document.getElementById(document.URL.split("/")[document.URL.split("/").length - 1].replace('#', '')).submit()
    }
</script>
{% endblock %}