{% extends "ai_worker.html" %}

{% block worker_settings %}
<link href="{{ url_for('static', filename = 'logging/ai_worker_logging.txt') }}"></link>
<link href="{{ url_for('static', filename = 'logging/ai_worker_statistic.json') }}"></link>
<a href="#" class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="width: 200px;height: 30px;padding: 1px;">
    Choose accounts and run
</a>
<a href="#" class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="padding: 0px; width: calc(38% - 240px); margin-right: -5px;margin-left: -5px;"></a>
<a href="#" class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="width: 170px;height: 30px;padding: 1px;">
    Logging
</a>  <br> <br>
<form action="/ai_worker_logging" method="POST" id="ai_worker_logging">
  <div class="row">
      <div class="col-4">
          <div class="card shadow bg-body">
              <div class="card-body">
                <div class="container">
                  <a href="#" class="btn placeholder col-4" aria-hidden="true" style="width: 220px; padding: 0px; background-color: #00D695; color: white">Current operation statistic </a> <br>
                  <br>
                  <div class="row">
                      <div class="col-8">First messages sent</div>
                      <div id="first_message" class="col" style="text-align: right">0</div>
                  </div> <br> <br>
                  <div class="row">
                      <div class="col-8">Middle messages sent</div>
                      <div id="middle_message" class="col" style="text-align: right">0</div>
                  </div> <br> <br>
                  <div class="row">
                      <div class="col-8">Offers has been sent</div>
                      <div id="offers" class="col" style="text-align: right">0</div>
                  </div> <br> <br>

                  <div class="mb-3 row" style="width: 105%;">
                      <label class="col-sm-9 col-form-label">Accounts </label>
                      <div class="col-sm-3" style="padding-right: 0px;">
                        <button style="float: right;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Choose
                        </button>
                      </div>
                    </div>
                  
                    <input type="hidden" id="accounts" name="accounts" value="">
            
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header" style="padding: 0px">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; width: 100%;">
                              <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item">&nbsp&nbsp</li>
                                  <li class="nav-item"><input class="form-control" style="height: 28.5px;"></li>
                                  <li class="nav-item">&nbsp&nbsp</li>
                                  <li class="nav-item">
                                    <select id="filter" class="form-select form-select-sm" style="height: 28.5px;">
                                      <option value="profile_photo">Profile photo</option>
                                      <option value="usernames">Usernames</option>
                                      <option value="untoched_more_then">Untoched more then</option>
                                      <option value="proxy">Proxy contection</option>
                                      <option value="status">Status</option>
                                      <option value="bio">BIO is set</option>
                                    </select>
                                  </li>
                                  <li class="nav-item">&nbsp&nbsp</li>
                                  <li class="nav-item">
                                    <select id="profile_photo" class="form-select form-select-sm" style="height: 28.5px;">
                                      <option value="1">Yes</option>
                                      <option value="0">No</option>
                                    </select>
                                    <select id="usernames" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                      <option value="1">Yes</option>
                                      <option value="0">No</option>
                                    </select>
                                    <select id="untoched_more_then" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                      <option value="3">3 days</option>
                                      <option value="7">7 days</option>
                                      <option value="14">14 days</option>
                                    </select>
                                    <select id="proxy" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                      <option value="1">Yes</option>
                                      <option value="0">No</option>
                                    </select>
                                    <select id="status" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                      <option value="no_limits">No limits</option>
                                      <option value="banned">Banned</option>
                                      <option value="spam_block">Spam block</option>
                                      <option value="not_connected">Not connected</option>
                                    </select>
                                    <select id="bio" class="form-select form-select-sm" style="height: 28.5px; display: none">
                                      <option value="1">Yes</option>
                                      <option value="0">No</option>
                                    </select>
                                  </li>
                                  <li class="nav-item">&nbsp&nbsp</li>
                                  <li class="nav-item"><button class="btn btn-success btn-sm" type="button" id="apply_filter" style="padding: 2px; background-color: #13CE8B">&nbsp Apply &nbsp</button></li>
                                  <li class="nav-item">&nbsp&nbsp</li>
                                  <li class="nav-item"><button class="btn btn-danger btn-sm" type="button" id="reset_filter" style="padding: 2px">&nbsp Reset filter &nbsp</button></li>
                                  <li class="nav-item">&nbsp&nbsp</li>
                                </ul>
                                <span class="navbar-text">
                                  <button type="button" class="btn btn-success btn-sm" style="padding: 2px; background-color: #13CE8B" data-bs-dismiss="modal" aria-label="Close">&nbsp Select &nbsp</button> &nbsp
                                  <button type="button" class="btn btn-primary btn-sm" style="padding: 2px" id="select_all">&nbsp Select all accounts &nbsp</button> &nbsp
                                  <button type="button" class="btn btn-outline-danger btn-sm" style="padding: 2px" data-bs-dismiss="modal" aria-label="Close">&nbsp&nbsp Close &nbsp&nbsp </button>  &nbsp
                                </span>
                              </div>
                            </nav>
                            
                          </div>
                          <div class="modal-body" style="padding-top: 0px">
                            <nav class="navbar navbar-expand-lg navbar-light" style="padding-bottom: 1px; padding-top: 0px;">
                              <div class="collapse navbar-collapse" id="navbarText" style="padding-bottom: 1px; padding-top: 0px; height: 43px;">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-bottom: 1px;margin-bottom: 1px">
                                  <li class="nav-item">
                                    <div class="row g-3 align-items-center">
                                      <div class="col-auto">
                                        <label class="col-form-label">Show</label>
                                      </div>
                                      <div class="col-auto">
                                        <input type="number" class="form-control" style="width: 55px !important; height: 30px !important;">
                                      </div>
                                      <div class="col-auto">
                                        <label class="col-form-label">accounts</label>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                                <span class="navbar-text">
                                  <div class="input-group input-group-sm mb-3" style=" margin-top: 10px">
                                    <span class="input-group-text"><img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/000000/search.png" /></span>
                                    <input type="text" class="form-control" style="width: 150px; height: 30px !important;">
                                  </div>
                                </span>
                              </div>
                          </nav>
                            <div style="position:relative;">
                              <div style="overflow:scroll;height:550px;overflow-x: hidden;" class="scroll_element">
                              <table class="table table-bordered table-sm" id="main_table">
                                <tbody>
                                  <thead>
                                    <tr>
                                      <td >&nbsp&nbsp&nbsp&nbsp#&nbsp</td>
                                      <td style="text-align: center;">Photo</td>
                                      <td style="text-align: center;">Username</td>
                                      <td style="text-align: center;">Name</td>
                                      <td style="text-align: center;">Phone</td>
                                      <td style="text-align: center;">Acc untouched</td>
                                      <td style="text-align: center;">Proxy</td>
                                      <td style="text-align: center;">Status</td>
                                    </tr>
                                  </thead>
                                  {%for account in accounts %}
                                  <tr>
                                    <td>{{account.index}}</td>
                                    <td> {% if account.photo %} <img style="border-radius: 50%;" height="23" width="23" src="{{account.photo}}"/> {% endif %}</td>
                                    <td>{{account.username}}</td>
                                    <td>{{account.name}}</td>
                                    <td>{{account.phone}}</td>
                                    <td>{% if account.untouched %} {{account.untouched}} days {% endif %}</td>
                                    <td>{{account.proxy}}</td>
                                    <td>
                                      {% if account.status == "Dead" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/bad-banana.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc dead"> {% endif %}
                                      {% if account.status == "Spam block" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/spam-can.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Acc spam blocked"> {% endif %}
                                      {% if account.status == "Not connected" %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/fa314a/cellular-network.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Not connected"> {% endif %}
                                      {% if account.password %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/key.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Have 2-fa"> {% endif %}
                                      {% if account.bio %} <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/4a90e2/magical-scroll.png" data-bs-toggle="tooltip" data-bs-placement="left" title="Have bio"> {% endif %}
                                    </td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                              </table>
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
              <button type="submit" class="btn start-button btn-lg">Start</button>
          </div>
      </div>
      <div class="col-8">
          <div class="card shadow bg-body">
              <div class="card-body">
                  <div class="form-floating">
                      <textarea name="audience" id="logging" class="form-control" style="height: 370px"></textarea>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/ai_worker_logging.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_filter.js') }}"></script>
{% endblock %}