{% extends "ai_worker.html" %}

{% block worker_settings %}
<div class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="width: 200px;height: 30px;padding: 1px;">
    Choose a language
</div>
<div href="#" class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="padding: 0px; width: calc(38% - 240px); margin-right: -5px;margin-left: -5px;"></div>
<div href="#" class="btn bg-primary placeholder col-4 shadow" aria-hidden="true" style="width: 250px;height: 30px;padding: 1px;">
    Choose a promotional subject
</div>
<br>
<form action="/ai_worker" method="POST" id="ai_worker">
    <div class="row" style="margin-top: 30px;">
        <br>
        <div class="col">
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name="en" id='en'>
                <label for='en'>&nbsp;</label> <br>
                </div>
                <div class="col">
                English
                </div>
            </div> <br>

            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name="ru" id='ru'>
                <label for='ru'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Russian
                </div>
            </div> <br>
            
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name="es" id='es'>
                <label for='es'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Spanish
                </div>
            </div> <br>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='marketing' id='marketing'>
                <label for='marketing'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Affiliate marketing
                </div>
            </div> <br>

            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='crypto' id='crypto'>
                <label for='crypto'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Cryptocurrency
                </div>
            </div> <br>
            
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='education' id='education'>
                <label for='education'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Education
                </div>
            </div> <br>
            
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='darknet' id='darknet'>
                <label for='darknet'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Darknet
                </div>
            </div> <br>

            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='adult' id='adult'>
                <label for='adult'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Adult
                </div>
            </div> <br>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='movies' id='movies'>
                <label for='movies'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Movies
                </div>
            </div> <br>
            
            <div class="row">
                <div class="col-2" align="right">
                <input type='checkbox' class='ios8-switch' name='humor' id='humor'>
                <label for='humor'>&nbsp;</label> <br>
                </div>
                <div class="col">
                Humor
                </div>
            </div> <br>
        </div>
    </div>
</form>
<div class="position-fixed bottom-0 end-0 p-3" style="right: 0px; position: sticky">
    <div id="error_message" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Settings did not saved!</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Oh, it looks like you forgot select language or subjects
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/ai_worker.js') }}"></script>
{% endblock %}