{% extends "chat_clonner.html" %}

{% block clonner_settings %}
<div class="editor__options editor__item">
    <div class="editor__container" style="height: 480px">
        <div class="editor__title">{{text.options}}</div>
        <div class="editor__label">{{text.choose_history_file}}</div>
        <div class="editor__row">
            <div class="editor__input choose_placeholder editor__window editor__historyinput">
                <div class="editor__droplist historydl" data-is-opened="false"></div>
                <span></span>
            </div>
            <div class="editor__newhistory editor__button">{{text.new_history}}</div>
        </div>
        <div class="editor__row">
            <div class="editor__emptymessage editor__button">{{text.add_empty_message}}</div>
            <div class="editor__input select_user_placeholder editor__window editor__emptymessageinput">
                <div class="editor__droplist emptymessagedl" data-is-opened="false"></div>
                <span></span>
            </div>
        </div>
        <div class="editor__newparticipant editor__button">{{text.add_new_participant}}</div>
        <div class="editor__row">
            <input class="editor__input editor__searchinput">
            <div class="editor__search editor__button">{{text.search}}</div>
        </div>
        <div class="editor__label">{{text.select_messages_from_user}}</div>
        <div class="editor__row">
            <div class="editor__input select_user_placeholder editor__window editor__chooseinput">
                <div class="editor__droplist choosedl" data-is-opened="false"></div>
                <span></span>
            </div>
        </div>
        <div class="editor__dellinks editor__button">{{text.delete_all_links}}</div>
    </div>
    <form method="POST" id="load" action="/chat_messages_editor">
        <input id="chats_data" type="hidden" name="chats_data" value="">
        <div class="editor__save">{{text.save}}</div>
    </form>
</div>
<div class="editor__messages editor__item" style="margin-left: 20px;">
    <div class="editor__header">
        <span>{{text.messages}}</span>
        <div class="editor__back">{{text.back}}</div>
    </div>
    <div class="editor__chat"></div>
</div>
<style>
    .select_user_placeholder::after {
        content: '{{text.select_user_placeholder}}';
    }

    .choose_placeholder::after {
        content: '{{text.choose_placeholder}}';
    }
</style>
<script>
    document.getElementById("main_content_block").classList.add("editor")
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/messages_editor.js') }}"></script>
{% endblock %}