{% from 'accounts_table.html' import initialAccountsTable %}
{% from 'logging_field.html' import initialLoggingField %}

{% extends "base.html" %} {% block content %}

<form action="/geo_parser" method="POST" id="geo_parser">
<div style="margin-bottom: 20px;">
    <input style="position: absolute; left: 216px;width: 220px;font-size: 16px;height: 40px;" id="pac-input" class="controls form-control" type="text" placeholder="{{text.search_box}}"/>
    <div style="width: 100%;min-height: 600px !important;position: relative;overflow: hidden;border-radius: 5px;" id="map"></div>    
</div>

<div class="card shadow bg-body" style="margin-bottom: 50px;margin-top: 10px;height: 180px;">
    <div class="card-body" style="margin-bottom: -75px;">
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-7 col-form-label">{{text.radius_for_account}}: </label>
                            <div class="col-sm-4">
                                <div class="quantity" style="float: right">
                                    <input type="number" class="form-control" name="radius_for_account" id="radius_for_account" value="500" placeholder="m" min="100" step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row" style="width: 105%;">
                            <label class="col-sm-9 col-form-label">{{text.number_of_coordinates}} </label>
                            <div class="col-sm-3">
                                <button id="number_of_coordinates" style="float: right;width: 120px;" type="button" >
                                    &nbsp &nbsp &nbsp &nbsp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-7 col-form-label">{{text.coordinates_per_account}}: </label>
                            <div class="col-sm-4">
                                <div class="quantity" style="float: right">
                                    <input type="number" class="form-control" name="coordinates_per_account" id="coordinates_per_account" value="1" placeholder="acc" min="1" step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row" style="width: 105%;">
                            <label class="col-sm-9 col-form-label">{{text.required_accounts}}(<label id="selected_accounts_len">0</label>/<label id="expected_accounts_len" name="expected_accounts_len">0</label>): </label>
                            <div class="col-sm-3">
                                <button style="float: right" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    {{text.add_accounts}}
                                </button>
                                {{ initialAccountsTable(accounts, text) }}
                            </div>
                        </div>
                    </div>
                    <input hidden id="coordinates" name="coordinates" value="[]"/>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col" style="padding-top: 5px;">
                                {{text.scrape_chats}}
                            </div>
                            <div class="col-2" style="padding-left: 5px;margin-top: 9px;">
                                <input type='checkbox' class='ios8-switch' id='scrape_chats' name='scrape_chats' value='0'>
                                <label for='scrape_chats'>&nbsp;</label> <br>
                            </div>
                        </div> <br>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label class="col-sm-9 col-form-label">{{text.save_in_folder}}: </label>
        
                            <div class="col-sm-3" style="text-align: right; padding-right: 9px;">
                                <button id="download_result" type="button" style="height: 38px;" class="btn btn-outline-primary">
                                    <div class="stage" style="width: 53px;">
                                        <div class="dot-flashing"></div>
                                    </div>
                                    <label id="select_text" style="display: none;">&nbsp;{{text.select}}&nbsp;</label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> <br>

            </div>
        </div>
    </div>
    <button type="submit" class="btn start-button btn-lg">{{text.start}}</button>
</div>
</form>
{{ initialLoggingField(text) }}

<script src="https://maps.googleapis.com/maps/api/js?key={{user_google_api_key}}&callback=initMap&libraries=places,drawing&v=weekly" defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<script>
let map
let drawingManager
let selectedShape
let infowindow
let shapeCollection = []
let markers = []

let littleCircles = []
let currentShape = {radius: 0, lat: 0, lng: 0}
let currentCenterCoordinates = []
let currentPosition = { lat: 50.40444089177163, lng: 30.62135376141017 }
let currentZoom = 8
const workWithoutProxy = `{{working_without_proxy}}` == "True"
const DRAW = true

let drowCircles = (coordinates, radius) => {}

if (document.cookie) {
    let cookie_setting = JSON.parse(document.cookie)

    if (cookie_setting.geo_parser) {
        document.getElementById('radius_for_account').value = cookie_setting.geo_parser.radius_for_account || 500
        document.getElementById('coordinates_per_account').value = cookie_setting.geo_parser.coordinates_per_account
        document.querySelector(`#scrape_chats`).value = "1" ? cookie_setting.geo_parser.scrape_chats : "0"
        document.querySelector(`#scrape_chats`).checked = document.querySelector(`#scrape_chats`).value == "1"
        
        currentPosition = cookie_setting.geo_parser.current_position
        currentZoom = cookie_setting.geo_parser.current_zoom || 8
    }
}

document.querySelector(`#scrape_chats`).addEventListener('change', (event) => {
    if (event.currentTarget.checked) {
        event.currentTarget.value = "1"
    } else {
        event.currentTarget.value = "0"
    }
})

document.querySelector("#geo_parser").addEventListener("submit", (event) => {
    if (!document.querySelector("#accounts").value.replace(' ', '')) {
        (new bootstrap.Toast(document.getElementById('no_selected_accounts'))).show()
        event.preventDefault()
        return
    }

    if (!workWithoutProxy && [...document.querySelector("#main_table").children[2].children].some(element => element.classList.contains('table-secondary') && !element.children[6].textContent)) {
        (new bootstrap.Toast(document.getElementById('no_proxies'))).show()
        event.preventDefault()
        return
    }

    if (parseInt(document.querySelector("#expected_accounts_len").textContent) > parseInt(document.querySelector("#selected_accounts_len").textContent)) {
        event.preventDefault()
        return
    }

    let cookie_setting = {}

    if (!document.cookie) {
        cookie_setting = { geo_parser: {} } 
    } else {
        cookie_setting = JSON.parse(document.cookie)
        cookie_setting.geo_parser = {}
    }
    cookie_setting.geo_parser.radius_for_account = document.getElementById('radius_for_account').value
    cookie_setting.geo_parser.coordinates_per_account = document.getElementById('coordinates_per_account').value
    cookie_setting.geo_parser.scrape_chats = document.querySelector(`#scrape_chats`).value
    cookie_setting.geo_parser.current_position = {lat: currentShape.lat, lng: currentShape.lng}
    cookie_setting.geo_parser.current_zoom = currentZoom

    document.cookie = JSON.stringify(cookie_setting)
})

setInterval(() => {
    if (currentCenterCoordinates.length != 0) {
        document.querySelector("#number_of_coordinates").textContent = currentCenterCoordinates.length
    }
    
    if (currentCenterCoordinates.length != 0) {
        let coordinatesPerAccount = parseInt(document.querySelector("#coordinates_per_account").value)

        if (coordinatesPerAccount) {
            document.querySelector("#expected_accounts_len").textContent = Math.ceil(currentCenterCoordinates.length / coordinatesPerAccount)
            document.querySelector("#selected_accounts_len").textContent = document.getElementById("accounts").value.split(' ').filter(item => item).length
        }
    }
}, 1000)

const clearCirles = () => {
    for (let item of littleCircles) {
        item.setMap(null)
    }
    littleCircles = []
}

const updateCoordinates = (littleRadius) => {
    if (!littleRadius) {
        littleRadius = parseInt(document.querySelector("#radius_for_account").value)
    }
    currentCenterCoordinates = []
    document.querySelector("#number_of_coordinates").innerHTML = `
    <div style="width: 20px;height: 20px;margin-top: 3px;" class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
    </div>`

    fetch(`/api/devide_circle?big_radius=${currentShape.radius}&little_radius=${littleRadius}&lat=${currentShape.lat}&lng=${currentShape.lng}`)
        .then(response => response.json()).then(centerCoordinates => {
            currentCenterCoordinates = centerCoordinates
            document.querySelector("#coordinates").value = JSON.stringify(centerCoordinates)
            if (DRAW) {
                drowCircles(currentCenterCoordinates, littleRadius)
            }
        })
}

document.querySelector("#radius_for_account").addEventListener("change", event => {
    if (DRAW){
        clearCirles()
    }

    if (currentShape.radius) {
        updateCoordinates(event.target.value)
    }
})



const clearSelection = () => {
    if (selectedShape) {
        if (DRAW){
            clearCirles()
        }
        selectedShape.setEditable(false)
        selectedShape = null
        currentShape = {radius: 0, lat: 0, lng: 0}
    }
}

const setSelection = shape =>  {
    let littleRadius = parseInt(document.querySelector("#radius_for_account").value)
    let content = `<p style="margin-top: -17px;margin-bottom: 8px;"><br><small>{{text.radius}}: ${Number(shape.getRadius() / 1000).toFixed(2)}{{text.km}}<br>{{text.little_radius}}: ${littleRadius}{{text.m}}</small></p>`
    let lat = shape.getCenter().lat()
    let lng = shape.getCenter().lng()

    clearSelection()

    currentShape.lat = lat
    currentShape.lng = lng
    currentShape.radius = shape.getRadius()

    updateCoordinates()
    
    infowindow.setContent(`${content}<a hre='' style='text-decoration: none;' class='text-danger' onclick='deleteSelectedShape()' id='del" + shape.id + "'><svg style='width: 10px' class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg> {{text.remove_shape}}</a>`)
    infowindow.setPosition({lat: lat, lng: lng})
    infowindow.open(map)
    
    selectedShape = shape
    shape.setEditable(true)
    
    if (shapeCollection.every(item => item.id != shape.id)) {
        shapeCollection.push(shape)
    }
}

const deleteSelectedShape =  () => {
    infowindow.close()

    for(let i = 0; i < shapeCollection.length; i++){ 
        shapeCollection[i].setMap(null)
    }

    shapeCollection = []
    currentCenterCoordinates = []
}

const selectStyle = () => {
    if (selectedShape) {
        selectedShape.set('fillColor', $('#f_color').val())
        selectedShape.set('fillOpacity', $("#opacity").val())
        selectedShape.set('strokeColor', $('#l_color').val())
        selectedShape.set('strokeOpacity', $("#line_opacity").val())
        selectedShape.set('strokeWeight', $("#stroke").val())
    }
}

function initMap () {
    // Main

    map = new google.maps.Map(document.getElementById("map"), {
        center: currentPosition,
        zoom: currentZoom,
        streetViewControl: false,
        mapTypeControl: false
    })

    map.setOptions({ styles: [
        {
            featureType: "poi.business",
            stylers: [{ visibility: "off" }],
        },
        {
            featureType: "transit",
            elementType: "labels.icon",
            stylers: [{ visibility: "off" }],
        }
    ]})

    infowindow = new google.maps.InfoWindow({size: new google.maps.Size(250, 100)})

    drawingManager = new google.maps.drawing.DrawingManager({
        drawingControl: true,
        drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: [
                google.maps.drawing.OverlayType.CIRCLE
            ],
        },
        circleOptions: {
            fillColor: "#4c6fdf",
            fillOpacity: 0.5,
            strokeWeight: 1,
            clickable: true,
            editable: true,
            zIndex: 0,
        }
    })

    drawingManager.setMap(map)

    if (DRAW) {
        drowCircles = (coordinates, radius) => {
            clearCirles()

            for (let item of coordinates) {
                let obj = new google.maps.Circle({strokeColor:'#0062cc',strokeOpacity:0.5,strokeWeight:1,fillColor:'#133c55',fillOpacity:0.5,center:{lat:item[0], lng: item[1]}, radius: radius})
                littleCircles.push(obj)
                obj.setMap(map)
            }
        }
    }

    const input = document.getElementById("pac-input")
    const searchBox = new google.maps.places.SearchBox(input)

    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input)

    searchBox.addListener("places_changed", () => {
        const places = searchBox.getPlaces()
    
        if (places.length == 0) {
            return
        }
    
        markers.forEach((marker) => {
            marker.setMap(null)
        })

        markers = []

        const bounds = new google.maps.LatLngBounds()
    
        places.forEach((place) => {
            if (!place.geometry || !place.geometry.location) {
                return
            }
    
            const icon = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25),
            }
            
            markers.push(new google.maps.Marker({map, icon, title: place.name, position: place.geometry.location}))
    
            if (place.geometry.viewport) {
                bounds.union(place.geometry.viewport)
                
            } else {
                bounds.extend(place.geometry.location)
            }
        })
        map.fitBounds(bounds)
    })

    google.maps.event.addListener(drawingManager, 'overlaycomplete', event => {
        if (event.type !== google.maps.drawing.OverlayType.MARKER) {
            if (DRAW){
                clearCirles()
            }
            deleteSelectedShape()
            drawingManager.setDrawingMode(null)

            let newShape = event.overlay

            newShape.type = event.type;
            newShape.id = new Date().getTime() + '_' + Math.floor(Math.random() * 1000)
            shapeCollection[newShape.id] = newShape
            
            google.maps.event.addListener(newShape, 'click', event => {
                if (DRAW){
                    clearCirles()
                }
                setSelection(newShape)
                currentZoom = map.getZoom()
            })
            currentZoom = map.getZoom()
            setSelection(newShape)
        }
    })

    google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection)
    google.maps.event.addListener(map, 'click', () => {clearSelection; infowindow.close()})
}

const getBlob = urlToGet => {
   return fetch(urlToGet).then(data => data.blob());
}

const catchEndScriptInterval = setInterval(() => {
    if (find_logging_block[0].textContent .includes("--END_SCRIPT--")) {
        document.querySelector(".stage").style.display = "none"
        document.querySelector("#select_text").style.removeProperty("display")

        document.querySelector("#download_result").onclick = async () => {
            const fileHandle = await window.showSaveFilePicker({
                suggestedName: `GeoParserResult.zip`,
                multiple: true,
                types: [{
                    description: 'Zip file', 
                    accept: { 'application/zip': ['.zip'] },
                }],
                excludeAcceptAllOption: true
            })
            
            const writableStream = await fileHandle.createWritable()

            await writableStream.write(await getBlob("/api/get_last_geo_parsed"));
            await writableStream.close()
        }

        clearInterval(catchEndScriptInterval)
    }
}, 500)

</script>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="script_ending" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.script_ending}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="no_selected_accounts" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_accounts}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/logging.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_filter.js') }}"></script>
{% endblock %}