{% from 'accounts_table.html' import initialAccountsTable %}
{% from 'accounts_statistics.html' import initialAccountsStatistics %}
{% from 'logging_field.html' import initialLoggingField %}

{% extends "base.html" %} {% block content %}
{{ initialAccountsStatistics(accounts_status, text) }}

<link href="{{ url_for('static', filename = 'logging/inviter.txt') }}"></link>

<div class="row">
    <div class="col">
        <form action="/inviter" method="POST" id="inviter">
            <div class="card shadow bg-body">
                <div class="card-body">
                    <div class="container" style="padding-left: 0px; padding-right: 0px;">
                        <div class="mb-3">
                            <h5>{{text.users_list}} <label id="audience_number"></label>  </h5>
    
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">{{text.load_usernames}}</label>
                            </div>
    
                            <script>
                                // Add the following code if you want the name of the file appear on select
                                $(".custom-file-input").on("change", function() {
                                    let fileName = $(this).val().split("\\").pop();
                                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    
                                    let file = new FileReader()
                                    file.onload = () => {
                                        document.querySelector("#audience").value = file.result;
                                    }
    
                                    file.readAsText(this.files[0]);
    
                                });
                            </script>
    
                        </div>
                        <div class="form-floating">
                            <textarea name="audience" id="audience" class="form-control" style="height: 480px">{{previous_setting.audience}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="col">
        <div class="card shadow bg-body">
            <div class="card-body">
                <h5 class="card-title">{{text.inviter_setting}}</h5>
                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-7 col-form-label">{{text.chat_invite}}: </label>
                    <div class="col-sm-4">
                        <input name="chat_to_invite" id="chat_to_invite" placeholder="{{text.enter_chats_placeholder}}" style="float: right" type="text" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-7 col-form-label">{{text.invite_at_time}}: </label>
                    <div class="col-sm-4">
                        <div class="quantity" style="float: right">
                            <input type="number" class="form-control" name="invite_at_time" value="1" placeholder="acc" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-7 col-form-label">{{text.flood_wait_limit}}: </label>
                    <div class="col-sm-4">
                        <div class="quantity" style="float: right">
                            <input type="number" class="form-control" name="flood_wait_limit" value="1" placeholder="sec" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row" style="width: 114%;">
                    <label class="col-sm-9 col-form-label">{{text.sleep_before_threads}}: </label>
                    <div class="col-sm-2">
                        <div class="quantity" style="float: right">
                            <input type="number" class="form-control" name="sleep_before_thread" value="1" placeholder="sec" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row g-3 align-items-center" style="display: flex; width: 113%;">
                    <div class="col-6">
                        <label class="col-form-label">{{text.delay_from}}</label>
                    </div>
                    <div class="col-2">
                        <div class="quantity">
                            <input type="number" class="form-control" name="delay_between" value="1" placeholder="sec" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1" style="text-align: center;">
                        <label class="col-form-label">{{text.delay_to}}</label>
                    </div>
                    <div class="col-2">
                        <div class="quantity" style="float: right; margin-right: 3px;">
                            <input type="number" class="form-control" name="delay_to" value="2" placeholder="sec" min="2" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                </div> <br>
    
                <div class="row g-3 align-items-center" style="display: flex; margin-top: -25px; width: 114%;">
                    <div class="col-auto">
                        <label class="col-form-label">{{text.change_account_after}}</label>
                    </div>
                    <div class="col-auto">
                        <div class="quantity">
                            <input type="number" class="form-control" name="account_change" value="1" placeholder="sec" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label style="float: right" class="col-form-label">{{text.unsuccesful_invites}}</label>
                    </div>
                </div> <br>
    
                <div class="row g-3 align-items-center" style="margin-top: -25px; width: 114%;">
                    <div class="col-auto">
                        <label class="col-form-label">{{text.invite}}</label>
                    </div>
                    <div class="col-auto">
                        <div class="quantity">
                            <input type="number" class="form-control" name="invite_length" value="1" placeholder="acc" min="1" step="1">
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label style="float: right" class="col-form-label">{{text.people_from_account}} </label>
                    </div>
                </div> <br>
    
                <div class="row" style="margin-bottom: -15px;">
                    <div class="col-7">
                        {{text.save_unused_audiences}}
                    </div>
                    <div class="col" style="display: flex; justify-content: center; margin-left: 133px;">
                        <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' id='save_unused_audiences' name='save_unused_audiences' value='0'>
                        <label for='save_unused_audiences'>&nbsp;</label> <br>
                    </div>
                </div> <br>
    
                <div class="mb-3 row" style="width: 105%;">
                    <label id="show_accounts_counts" class="col-sm-9 col-form-label">{{text.c_accounts}} </label>
                    <div class="col-sm-3">
                        <button style="float: right" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    {{text.choose}}
                  </button>
                    </div>
                </div>
    
                {{ initialAccountsTable(accounts, text) }}
    
        </div>
        <button type="submit" class="btn start-button btn-lg">{{text.start}}</button>
    </div>
    </div>
</div>

</form>

{{ initialLoggingField(text) }}

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="no_selected_accounts" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_accounts}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="forgot_users" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_users}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="forgot_chat" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_chat}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="script_ending" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.script_ending}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script>
    const workWithoutProxy = `{{working_without_proxy}}` == "True"
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/logging.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/inviter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_filter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_table.js') }}"></script>
{% endblock %}