{% macro initialLoggingField(text) %}
<div class="form-floating" style="margin-bottom: 30px;">
    <br>
    <div class="card shadow bg-body">
        <div class="card-body">
            <h5 style="margin-top: -10px" class="card-title">{{text.logging}}</h5>
            <button type="button" class="btn btn-primary btn-sm" style="border: none !important; height: 27px; padding: 2px; background-color:  #2d76cc;right: 17px;top: 6px;position: absolute;" id="download_logs">&nbsp {{text.download}} &nbsp</button>
            <!-- <textarea id="logging" style="height:260px" disabled class="form-control"></textarea> -->
            <div id="logging" style="height:260px;overflow-y: auto;" disabled class="form-control"></div>
        </div>
    </div>
</div>
{% endmacro %}