{% from 'accounts_table.html' import initialAccountsTable %}

{% extends "chat_clonner.html" %}

{% block clonner_settings %}
<div class="row" style="margin-bottom: 40px;">
    <div class="col-4">
      <form action="/prepare_chat_accounts" method="POST" id="prepare_chat_accounts">
      <div class="card shadow bg-body">
        <div class="card-body">
          <h5 class="card-title">{{text.options}}</h5>

          {{text.history_file}}

            <select id="history_file" name="history_file" class="form-select" style="margin-top: 5px;">
              <option>{{text.select_history_file}}</option>

                {% for file in history_files %}
                    <option value="{{file}}">{{file}}</option>
                {% endfor %}
            </select>

            <br>

            <div class="mb-3 row" style="width: 116%;">
                <label class="col-sm-7 col-form-label">{{text.threads_number}}: </label>
                <div class="col-sm-4">
                    <div class="quantity" style="float: right">
                        <input type="number" class="form-control" name="threads_number" id="threads_number" value="1" placeholder="thr" min="1" step="1">
                        <div class="quantity-nav">
                            <div class="quantity-button quantity-up">+</div>
                            <div class="quantity-button quantity-down">-</div>
                        </div>
                    </div>
                </div>
            </div>

            {{text.required_accounts}} (<label id="selected_accounts_len">0</label>/<label id="expected_accounts_len" name="expected_accounts_len">0</label>):

            <br> <br>

            <div class="row">
                <div class="col-5">
                    <button type="button" style="width: 125px" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        {{text.add_accounts}}
                    </button>
                </div>
                <div class="col">
                    <button type="button" style="margin-left: -10px;" id="reset" class="btn btn-outline-danger">
                        {{text.reset}}
                    </button>
                </div>
            </div>
  
            {{ initialAccountsTable(accounts, text) }}
            
      </div>
      <button type="submit" class="btn start-button btn-lg">{{text.start}}</button>
    </div>
  </form>
   </div>

    <div class="col-8">
        <div class="card shadow bg-body">
            <div class="card-body">
                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                    <h5 style="margin-top: -10px" class="card-title">{{text.logging}}</h5>
                    <button type="button" class="btn btn-primary btn-sm" style="border: none !important; height: 27px; padding: 2px; background-color:  #2d76cc;right: 17px;top: 6px;position: absolute;" id="download_logs">&nbsp {{text.download}} &nbsp</button>
                    <!-- <textarea id="logging" style="height:260px" disabled class="form-control"></textarea> -->
                    <div id="logging" style="height: 380px;;overflow-y: auto;" disabled class="form-control"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="no_selected_accounts" style="background-color:#F8D7DA; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.forgot_accounts}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <div id="script_ending" style="background-color:#D1E7DD; width: 600px" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{text.script_ending}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
  const workWithoutProxy = `{{working_without_proxy}}` == "True"
  const accounts_data = JSON.parse(`{{accounts_expected|tojson}}`)
  let select_file_element = document.getElementById("history_file")
  let expected_accounts_len = document.getElementById("expected_accounts_len")
  let selected_accounts_element = document.getElementById("accounts")
  let selected_accounts_len_element = document.getElementById("selected_accounts_len")

  select_file_element.onchange = () => {
    if (select_file_element.value) {
      selected_accounts_len_element.textContent = "0"
      expected_accounts_len.textContent = accounts_data[select_file_element.value]
    }
  }


  document.getElementById("reset").onclick = () => {
      window.location.reload();
  }
  
  setInterval(() => {
      selected_accounts_len_element.textContent = selected_accounts_element.value.split(' ').filter(item => item).length
  }, 500)

</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/prepare_chat_accounts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/logging.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/accounts_filter.js') }}"></script>
{% endblock %}