{% from 'accounts_statistics.html' import initialAccountsStatistics %}

{% extends "base.html" %} {% block content %}
{{ initialAccountsStatistics(accounts_status, text) }}

<form action="/save_settings" method="POST">
    <div class="card shadow bg-body">
        <div class="card-body">
            <div class="card shadow bg-body">
                <div class="card-body" style="padding: 0px;">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <h6 class="card-title">{{text.general}}</h6>
                            </ul>
                        </div>
                    </nav>
                    <div class="container-sm" style="padding-left: 150px; padding-right: 150px; margin-top: 15px;">
                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-7 col-form-label">{{text.language}}</label>
                            <div class="col-sm-4" style="margin-left: -68px;">
                                <select name="language" class="form-select">
                                  <option {% if setting.language == 'en' %} selected {% endif %}  value="en">English</option>
                                  <option {% if setting.language == 'ua' %} selected {% endif %} value="ua">Українська</option>
                                  <option {% if setting.language == 'ru' %} selected {% endif %} value="ru">Русский</option>
                                </select>
                            </div>
                        </div> <br>

                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-6 col-form-label">{{text.number_threads}}: </label>
                            <div class="col-sm-2" style="margin-left: -34px;">
                                <div class="quantity" style="float: right">
                                    <input type="number" class="form-control" name="number_of_threads" value="{{setting.number_of_threads}}" value="1" placeholder="sec" min="1" step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div> <br>

                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-6 col-form-label">{{text.timeout}}: </label>
                            <div class="col-sm-2" style="margin-left: -34px;">
                                <div class="quantity" style="float: right">
                                    <input type="number" class="form-control" name="timeout" value="{{setting.timeout}}" value="1" placeholder="sec" min="1" step="1">
                                    <div class="quantity-nav">
                                        <div class="quantity-button quantity-up">+</div>
                                        <div class="quantity-button quantity-down">-</div>
                                    </div>
                                </div>
                            </div>
                        </div> <br>

                        <div class="mb-3 row" style="width: 114%;">
                            <label class="col-sm-7 col-form-label">{{text.google_api_key}}</label> 
                            <div class="col-sm-4" style="margin-left: -68px;">
                                <input type="text" class="form-control" name="google_api_key" value="{{setting.google_api_key}}">
                            </div>
                        </div> <br>

                    </div>
                </div>
            </div> <br>
            <div class="card shadow bg-body">
                <div class="card-body" style="padding: 0px;">
                    <nav id="hide_one" class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <h6 class="card-title">{{text.account_settings}}</h6>
                            </ul>
                        </div>
                    </nav>
                    <div id="hidden_one" style="margin-top: 15px;" class="container-sm" style="padding-left: 150px; padding-right: 150px;">

                        <div class="row">
                            <div class="col-7">
                                {{text.check_proxies}}
                            </div>
                            <div class="col" style="display: flex; justify-content: center; margin-left: 120px;">
                                <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' name="check_proxies" id="check_proxies" {% if setting.check_proxies == "1" %} checked {% endif %} value='{{setting.check_proxies}}'>
                                <label for='check_proxies'>&nbsp;</label> <br>
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col-7">
                                {{text.work_proxy_connected_account}}
                            </div>
                            <div class="col" style="display: flex; justify-content: center; margin-left: 120px;">
                                <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' name="bind_proxy" id="bind_proxy" {% if setting.bind_proxy == "1" %} checked {% endif %} value='{{setting.bind_proxy}}'>
                                <label for='bind_proxy'>&nbsp;</label> <br>
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col-7">
                                {{text.working_without_proxy}}
                            </div>
                            <div class="col" style="display: flex; justify-content: center; margin-left: 120px;">
                                <input type='checkbox' style="margin-left: 40px;" class='ios8-switch' name="working_without_proxy" id="working_without_proxy" {% if setting.working_without_proxy == "1" %} checked {% endif %} value='{{setting.working_without_proxy}}'>
                                <label for='working_without_proxy'>&nbsp;</label> <br>
                            </div>
                        </div> <br>

                        <div class="mb-3 row">
                            <label class="col-sm-7 col-form-label">{{text.default_password}}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="default_password" placeholder="{{text.enter_password_placeholder}}" value="{{setting.default_password}}">
                            </div>
                        </div> <br>
                    </div>
                </div>
            </div> <br>
            <div class="card shadow bg-body">
                <div class="card-body" style="padding: 0px;">
                    <nav id="hide_second" class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <h6 class="card-title">{{text.services}}</h6>
                            </ul>
                        </div>
                    </nav>
                    <div id="hidden_second" class="container-sm" style="padding-left: 150px; padding-right: 150px;">
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_smsactivate" id='sms_activate' {% if setting.use_smsactivate == "1" %} checked {% endif %} value='{{setting.use_smsactivate}}'>
                                <label for='sms_activate'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                Sms-activate
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.smsactivate}}" placeholder="{{text.enter_api_key_placeholder}}" name="smsactivate" class="form-control">
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_smsman" id='sms_man' {% if setting.use_smsman == "1" %} checked {% endif %} value='{{setting.use_smsman}}'>
                                <label for='sms_man'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                Sms-man
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.smsman}}" placeholder="{{text.enter_api_key_placeholder}}" name="smsman" class="form-control">
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_smshub" id='smshub' {% if setting.use_smshub == "1" %} checked {% endif %} value='{{setting.use_smshub}}'>
                                <label for='smshub'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                Sms-hub
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.smshub}}" placeholder="{{text.enter_api_key_placeholder}}" name="smshub" class="form-control">
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_grizzlysms" id='grizzlysms' {% if setting.use_grizzlysms == "1" %} checked {% endif %} value='{{setting.use_grizzlysms}}'>
                                <label for='grizzlysms'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                Grizzlysms
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.grizzlysms}}" placeholder="{{text.enter_api_key_placeholder}}" name="grizzlysms" class="form-control">
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_activation" id='activation' {% if setting.use_activation == "1" %} checked {% endif %} value='{{setting.use_activation}}'>
                                <label for='activation'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                Activation
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.activation}}" placeholder="{{text.enter_api_key_placeholder}}" name="activation" class="form-control">
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col">
                                <input type='checkbox' class='ios8-switch' name="use_tigersms" id='tigersms' {% if setting.use_tigersms == "1" %} checked {% endif %} value='{{setting.use_tigersms}}'>
                                <label for='tigersms'>&nbsp;</label> <br>
                            </div>
                            <div class="col">
                                TigerSms
                            </div>
                            <div class="col">
                                <input type="text" value="{{setting.tigersms}}" placeholder="{{text.enter_api_key_placeholder}}" name="tigersms" class="form-control">
                            </div>
                        </div> <br>

                    </div>
                </div>
            </div> <br>
            <button style="padding-bottom: 5px; padding-top: 5px;" type="submit" class="btn start-button btn-lg">{{text.save}}</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/setting_general.js') }}"></script>
{% endblock %}